@import "./../../node_modules/normalize.css/normalize.css";

@import "./variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

$mdc-typography-font-family: unquote("Libre Franklin, sans-serif");

$mdc-typography-styles-headline1: (
  font-family: unquote("Merriweather, serif"),
  font-weight: 900,
  font-size:5.711875rem
);
$mdc-typography-styles-headline2: (
  font-family: unquote("Merriweather, serif"),
  font-weight: 900,
  font-size:3.57rem
);
$mdc-typography-styles-headline3: (
  font-family: unquote("Libre Franklin, sans-serif"),
  font-weight: 500,
  font-size:2.990625rem
);
$mdc-typography-styles-headline4: (
  font-family: unquote("Merriweather, serif"),
  font-weight: 900,
  font-size:2.023125rem
);
$mdc-typography-styles-headline5: (
  font-family: unquote("Libre Franklin, sans-serif"),
  font-weight: 500,
  font-size:1.495rem
);
$mdc-typography-styles-headline6: (
  font-family: unquote("Libre Franklin, sans-serif"),
  font-weight: 500,
  font-size:1.24625rem
);
$mdc-typography-styles-subtitle1: (
  font-family: unquote("Libre Franklin, sans-serif"),
  font-weight: 600,
  font-size:0.996875rem
);
$mdc-typography-styles-subtitle2: (
  font-family: unquote("Libre Franklin, sans-serif"),
  font-weight: 600,
  font-size:0.8725rem
);
$mdc-typography-styles-body1: (
  font-family: unquote("Libre Franklin, sans-serif"),
  font-weight: 400,
  font-size:0.9975rem
);
$mdc-typography-styles-body2: (
  font-family: unquote("Libre Franklin, sans-serif"),
  font-weight: 400,
  font-size:0.8725rem
);
$mdc-typography-styles-caption: (
  font-family: unquote("Libre Franklin, sans-serif"),
  font-weight: 400,
  font-size:0.7475rem
);
$mdc-typography-styles-button: (
  font-family: unquote("Libre Franklin, sans-serif"),
  font-weight: 700,
  font-size:0.8725rem
);
$mdc-typography-styles-overline: (
  font-family: unquote("Libre Franklin, sans-serif"),
  font-weight: 600,
  font-size:0.7475rem
);
