$mdc-theme-primary: #FFCCFF;
$mdc-theme-on-primary: #000000;

$mdc-theme-secondary: #00838e;
$mdc-theme-on-secondary: #FFFFFF;

$mdc-theme-surface: #FFFFFF;
$mdc-theme-on-surface: #000000;

$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #000000;





$radius: 8px;
$rtl-reflexive: false;
$height-0: 0;

